includes:
  - ../../vendor/phpstan/phpstan/conf/bleedingEdge.neon

services:
  - class: Soyhuce\PhpstanExtension\ReturnTypes\RequestDateExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
