services:
  - class: Soyhuce\PhpstanExtension\ReturnTypes\RequestDateExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension

rules:
  - Soyhuce\PhpstanExtension\Rules\CarbonCopyRule
  - Soyhuce\PhpstanExtension\Rules\NoAliasUseRule
  - Soyhuce\PhpstanExtension\Rules\NoMutableDateTimeStaticCallRule
  - Soyhuce\PhpstanExtension\Rules\NoMutableDateTimeUseRule
  - Soyhuce\PhpstanExtension\Rules\NoNewMutableDateTimeRule
